<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <% for (let cat in cats) { %>
        <%= cat %>
        <!-- <% if (cats[cat].name == cat_name) { %>
            <p>Age: <%= cats[cat].age %></p>
            <p>Sleeps at: 
                <% for x in cats[cat].sleep %>
                    <%= x %>
                <% } %>
            </p>
        <% } %> -->
    <% } %>
</body>
</html>