<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>EJS index</h1>
    <form action="/result" method="post">
    <label for="">
        Name: <input type="text" name="name" id="">
    </label>
    <label for="">
        Location: <input type="text" name="location" id="">
    </label>
    <label for="">
        Comment: <textarea name="comment" id="" cols="30" rows="10"></textarea>
    </label>
    <input type='submit' value='create user'>    
</form>
</body>
</html>