<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">
        $(document).ready(function (){
        
            var socket = io();
        
            socket.on('greeting', function (data) {
                console.log(data.msg);
                socket.emit('thankyou', { msg: 'Thank you for connecting me! -Client' }); //6
            });
        })
    </script>
</head>
<body>
    <p>Name: <%= data.name %></p>
    <p>Location: <%= data.location %></p>
    <p>Comment: <%= data.comment %></p>
    <a href="/">Go Back</a>
</body>
</html>