<div class="root">

<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>{{title}}</h1>
    <img width="200" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">

    <app-show-task *ngIf="showTask" [task]="showTask"></app-show-task>

  <h2>All The Tasks:</h2>
  <button (click)="onButtonGetTasks()">Get Tasks!</button>
  <li *ngFor="let task of tasks">
    {{task.title}} - {{task.description}}
    <button (click)="onButtonShowTask(task._id)">Show Task</button>
    <button (click)="onButtonEditTask(task._id)">Edit Task</button>
    <button (click)="onButtonDeleteTask(task._id)">Delete Task</button>
  </li>

  <!-- If tasks show most recent task -->
  <h2 *ngIf="tasks.length > 0">Most recent task:</h2>
  <li *ngIf="tasks.length > 0">{{tasks[tasks.length - 1].title}} - {{tasks[tasks.length - 1].description}}</li>

  <div class="createtask" *ngIf="!editTask">
    <h2>Create New Task</h2>
  <form (submit)="onSubmitFormNewTask()">
  <!-- use the json pipe to see how newTask changes in real time -->
  <p> {{ newTask | json }} </p>
  <input type="text" name="newTask.title" [(ngModel)]="newTask.title" />
  <input type="text" name="newTask.description" [(ngModel)]="newTask.description" />
  <input type="submit" value="Create Task" />
  </form>
</div>
<div class="edittask" *ngIf="editTask">
  <h2>Edit Task</h2>
  <form (submit)="onSubmitEditTask()">
  <p> {{ editTask | json }} </p>
  <input type="text" name="editTask.title" [(ngModel)]="editTask.title" />
  <input type="text" name="editTask.description" [(ngModel)]="editTask.description" />
  <input type="submit" value="Edit Task" />
  </form>
</div>

<router-outlet></router-outlet>


</div>
</div>
