<!--The content below is only a placeholder and can be replaced.-->

<div class="container"><div class="header">
<h1>
<img width="50" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">{{ title }}!
</h1>
</div>
<div class="createCake">

<form (submit)="onSubmitCreateCake()">
<!-- use the json pipe to see how newCake changes in real time -->
<p> {{ newCake | json }} </p>
<div class="form-group">
<label for="newCake.baker">Baker Name</label>
<input type="text" class="form-control" name="newCake.baker" id="newCake.baker" aria-describedby="helpBakersName" placeholder="name" [(ngModel)]="newCake.baker">
<small id="helpBakersName" class="form-text text-muted">name of baker</small>
</div>
<div class="form-group">
<label for="newCake.image">Image URL</label>
<input type="text" class="form-control" name="newCake.image" id="newCake.image" aria-describedby="helpImageUrl" placeholder="image.com" [(ngModel)]="newCake.image">
<small id="helpImageUrl" class="form-text text-muted">source url for cake image</small>
</div>
<button type="submit" class="btn btn-primary">Create Cake</button>
</form>
</div>

<router-outlet></router-outlet></div>
