<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>crazy cats</h1>
    <img src="img/cat1.jpeg" alt="cat1" height="200px" width="200px">
    <img src="img/cat2.jpeg" alt="cat2" height="200px" width="200px">
    <img src="img/cat3.jpeg" alt="cat3" height="200px" width="200px">
    <img src="img/cat4.jpeg" alt="cat4" height="200px" width="200px">
</body>
</html>